
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: normal;
	font-size: 100%;
	font-family: Verdana;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	line-height: 1;
	background-image: url("/id1354-fw-version6/resources/images/food.jpg");
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.8;
}
h1 {
    font-size: 40px;
    padding-bottom:10px;
}

h2 {
    font-size: 30px;
    padding-bottom:5px;
    }

h3 {font-size: 20px;
    padding:10px;
    position: relative;}
ol, ul {
	list-style: circle;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: center;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: Verdana;

}

ul.desc {
	background-color: white;
	font-family: Verdana;
	}

li {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: salmon;
}

p.corners{
	border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;}
section {
	margin-left: 20%;
	margin-top:140px;
	margin-bottom: 140px;
	margin-right: 20%;
	background-color: white;
	border-radius: 20px;
	padding:20px;
	text-align: justify;
}

.c1{font-family: Verdana;
	border-radius:10px;
margin-right: 0px;
margin-left:0px;
margin-top: 2px;
padding: 8px;
background: Gray;
width: 80%
}
.c1 p {
    font-family: Verdana;
    border-radius:10px;
margin-right: 0px;
margin-left:0px;
margin-top: 2px;
padding: 8px;
width: 80%
}
.c1 a {
    color: pink;
}

.c2{
font-family: Verdana;
border-radius:10px;
margin-right:0px;
margin-left:0px;
margin-top: 2px;
padding: 8px;
background: Darkgray;
width: 80%
}

/* Month header */
.month {
    padding: 70px 0px;
    width: 100%;
    background: grey;
    text-align: center;
}
/* .monthrubrik {margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    font-family: Verdana;} */
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
 
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
 
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
    border: 1px;
    border-style: solid;
    height:100px;

}
form.loginbutt form button {
	font-family: Verdana;
	font-size: 30px;
}
.loglog form button {
	font-size: 40px;
}
/* Highlight the "current" day */
/*
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important */
textarea {
    width:400px;
    height: 80px;
    background-color: #fff;
    resize:none;

}

button{
    width: 100px;
    height: 30px;
    background-color: green;
    border: none;
    color: white;
    font-family: Verdana;
    font-weight: 400;
    cursor: pointer;

}
button:hover {
    background-color: salmon;
    }
input {
    width: 200px;
    height: 30px;
    margin: 5px;
}
input:hover {
    background-color: lightgrey;
    cursor:pointer;
}

/*.comment-box{
    width:845px;
    padding: 20px;
    margin-bottom:4px;
    background-color: grey;
    border-radius:4px;
}*/